<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>259103983368-fl9ffg8qbodpdlp324a4jd24aljiegqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259103983368-fl9ffg8qbodpdlp324a4jd24aljiegqk</string>
	<key>API_KEY</key>
	<string>AIzaSyC9dlEy1IGZM4_I3o7iDN6KyrABG5b1qAk</string>
	<key>GCM_SENDER_ID</key>
	<string>259103983368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oscarpan.ece158.uDown</string>
	<key>PROJECT_ID</key>
	<string>project-5733388533354763572</string>
	<key>STORAGE_BUCKET</key>
	<string>project-5733388533354763572.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:259103983368:ios:7177cdb6ce51fffd</string>
	<key>DATABASE_URL</key>
	<string>https://udown.firebaseio.com</string>
</dict>
</plist>